{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{%block lang1%}pt{% endblock %}" lang="{%block lang2%}pt{% endblock %}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% trans "Welcome to Etva manager!"%} {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script language="JavaScript" type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
        {% block headcontent %}
        {% endblock %}
</head>
<body>
	<div id="header">
		<a href="/" border=0><img src="/static/img/logo.png" border=0 /></a>
	</div>
	<!-- main body -->
        {% block maincontent %}
        {% endblock %}
	<!-- end main body -->
</body>
</html>

